/*  your css code here. If applicable */
#t11{
	text-align:left;
}

#t12{
	text-align:center;
}
#t13{
	text-align:right;
}
.table-1{
	width:100%;
}
#t-image{
	width:30px;
	text-align:center;
}
#t21{
	height:30px;
}
